<% provide(:title, 'Broccolli 新規登録') %>
<% provide(:description, 'Broccolliは自宅の植物を近くのお花屋さんや植物が好きな人、詳しい人(フラワーシッター)に預かってもらうための日本初マッチングサービスです。こちらからBroccolliを利用するためにアカウントを新規登録してください。') %>
<% provide(:keywords, '') %>

<%= render 'layouts/header' %>
<div class="sign-up-area">
  <%= image_tag('top-bg.jpg', class: 'bg-image') %>
  <div class="sign-up-box">
    <div class="title">サインアップ</div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-group') do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
<%= render 'layouts/footer' %>
