<div class="users-sitter-card-area">
  <div class="flower-sitter">フラワーシッター</div>
  <div class="table-box">
    <%= image_tag(user.cards.first.image, class: 'card-image') %>
    <div class="detail-box">
      <div class="card-title"><%= user.cards.first.title %></div>
      <div class="card-price">料金／日: ¥120</div>
      <div class="link-area">
        <% if user_signed_in? && current_user == user %>
          <%= link_to '編集', edit_card_path(user.cards.first.id), class: 'to-edit btn btn-info btn-sm'%>
        <% end %>
        <%= link_to '依頼・質問ページへ', card_path(user.cards.first.id), class: 'to-show btn btn-primary btn-sm' %>
      </div>
    </div>
  </div>
  <div class="card-description"><%= simple_format(user.cards.first.description) %></div>
</div>
