<%= render 'layouts/header' %>

<div class="edit-area">
  <div class="edit-box">
    <%= form_with model: @user, url: user_path, method: :patch, local: true, class: 'form-group' do |form| %>
      <div class="yes-no-area">
        <%= link_to '戻る', @user, class: 'btn btn-outline-secondary btn-cancel' %>
        <%= form.submit "完了", class: "btn btn-outline-primary btn-done" %>
      </div>

      <div class="icon-box">
        <%= image_tag(@user.icon, class: 'icon') if @user.icon.attached? %>
      </div>
      <div class="icon-preview"></div>
      <div class="input-group">
        <label class="btn-icon">
        <span class="btn btn-outline-primary btn-icon">
          アイコンを選択
          <%= form.file_field :icon, accept: 'image/jpg,image/jpeg,image/png', class: 'btn-icon', style: 'display: none' %>
        </span>
        </label>
      </div>
      <%= form.label :name, '名前' %>
      <%= form.text_field :name, class: "form-control" %>

      <%= form.label :email, 'メールアドレス ※変更できません' %>
      <%= form.text_field :email, readonly: true, class: "form-control" %>

      <%= form.label :profile, 'プロフィール' %>
      <%= form.text_area :profile, class: "form-control profile", value: @user.profile, placeholder: "自己紹介" %>
    <% end %>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(document).on('change', ':file', function() {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.parent().parent().next(':text').val(label);

        var files = !!this.files ? this.files : [];
        if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support
        if (/^image/.test( files[0].type)){ // only image file
            var reader = new FileReader(); // instance of the FileReader
            reader.readAsDataURL(files[0]); // read the local file
            reader.onloadend = function(){ // set image data as background of div
                // input.parent().parent().parent().prev('.imagePreview').css("display", "inline-block");
                // input.parent().parent().parent().prev('.imagePreview').css("background-image", "url("+this.result+")");
                // input.parent().parent().parent().prev('.icon').css("display", "inline-block");
                input.parent().parent().parent().prev('.icon-preview').css("background-image", "url("+this.result+")");
            }
        }
    });
</script>
