<%= render 'layouts/header' %>
<div class="user-area">
  <div class="user-box">
    <div class="icon-frame">
      <%= image_tag(@user.icon, class: 'icon') if @user.icon.attached? %>
    </div>
    <div class="name"><%= @user.name %></div>
    <div class="email"><%= @user.email if user_signed_in? and @user == current_user %></div>
    <div class="profile"><%= simple_format(@user.profile) %></div>
    <%= link_to 'プロフィール編集', edit_user_path, class: 'btn btn-edit' if user_signed_in? and @user == current_user %>
  </div>
  <% unless @user.cards.first.nil? %>
    <%= render 'users/flower_sitter', { user: @user } %>
  <% end %>
</div>

<%= render 'layouts/users_under', { user: current_user } %>
