<div class="example-area">
  <ul class="horizontal-list">
    <li class="item">
      <div></div>
    </li>
    <li class="item">
      <div></div>
    </li>
    <li class="item">
      <div></div>
    </li>
    <li class="item">
      <div></div>
    </li>
  </ul>
</div>
