<div class="container">
  <div class="qna-area row justify-content-center">
    <div class="col-10 h4 qna-title">よくある質問</div>
    <div class="col-10 qna-item">
      <div class="qna-q border-bottom">どんな植物を預かってもらえますか？</div>
      <div class="qna-a">基本的にどんな植物でも可能です。しかし、植物によって大きさや必要な知識は様々なのでフラワーシッター（預かってくれる方）にご確認ください。</div>
    </div>
    <div class="col-10 qna-item">
      <div class="qna-q border-bottom">お支払い方法は？</div>
      <div class="qna-a">植物を預けるとき、または引き取りの際に支払います。　また、現金やクレジットカードなど支払い手段はフラワーシッター（預かってくれる方）にご確認ください。</div>
    </div>
<!--    <div class="col-10 qna-item">-->
<!--      <div class="qna-q border-bottom">Hey Siri, 明日の天気は?</div>-->
<!--      <div class="qna-a">すみません。よくわかりません。</div>-->
<!--    </div>-->
  </div>
</div>
