<div class="review-for-flower-sitter-area">
  <div class="top-box">
    <div class="sub-title">〜フラワーシッターに預みて〜</div>
    <div class="title">ゲストのみなさんの声</div>
  </div>
  <div class="reviewer-box">
    <div class="comment-area">
      <div class="icon-frame">
        <%= image_tag('flower-sitter-1.jpg', class: 'icon') %>
      </div>
      <div class="text">
        <div class="text-tag-head">“</div>
        <div class="description">
          Pellentesque habitant morbi tristique senectus. Vestibulum tortor quam, feugiat vitae, ultricies ege...
        </div>
        <div class="text-tag-end">”</div>
        <div class="country">イカタコ駅前店</div>
      </div>
    </div>
  </div>
</div>
