<div class="usage-flow-area">
  <div class="usage-flow-box">
    <div class="title">ご利用の流れ</div>
    <div class="usage-item">
      <div class="illustration fas fa-search"></div>
      <div class="text">まずは、預かり可能なフラワーシッターを探します。</div>
      <%= link_to('フラワーシッターを探す', cards_path, class: '') %>
    </div>
    <div class="usage-item">
      <div class="illustration far fa-comments"></div>
      <div class="text">お願いしたいフラワーシッターが見つかれば、フラワーシッターのページより「依頼・質問」ボタンをタップすると、メッセージを送ることが可能になります。預かってもらいたい植物が受け入れ可能か、そのほか日程やご料金などについてもメッセージにて、フラワーシッターにご確認ください。</div>
    </div>
    <div class="usage-item">
      <div class="illustration far fa-handshake"></div>
      <div class="text">ゲストのご要望や日程、ご料金などフラワーシッターとご相談の上、受け入れを確定します。</div>
    </div>
    <div class="usage-item">
      <div class="illustration fas fa-people-carry"></div>
      <div class="text">約束の日時に植物をフラワーシッターのところまで持ち込みます。返却日を確認の上、植物を預けて完了です。</div>
    </div>
  </div>
</div>
