<%= render 'layouts/header' %>
<div class="about-area">
  <h1 class="about-h1">Broccolliについて</h1>
  <div class="about-box">
    Broccolliは、植物を一時的に預けたい人と預かってくれる人を繋ぐオンラインサービスです。
    <br/>短期から長期まで、旅行や出張で自宅から離れるの間、あなたの植物を守るお手伝いをします。
  </div>
  <div class="team-box">
    <h5>チームメンバー</h5>
    <div class="member-box">
      <%= image_tag('ueno.jpg', class: 'member-pic') %>
      <div class="member-text">
        上野 元輝<br/>
        企画・開発
      </div>
    </div>
    <div class="member-box">
      <%= image_tag('matsumoto.jpg', class: 'member-pic') %>
      <div class="member-text">
        松本 一寿<br/>
        立案・マーケティング
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
