<% provide(:title, '近くのシッターに植物を預かってもらうサービス｜Broccolli 問い合わせ') %>
<% provide(:description, 'ご質問やご要望はこちらよりお待ちしております。') %>
<% provide(:keywords, '') %>

<%= render 'layouts/header' %>
<div class="contact-area">
  <div class="box">
    <div class="icon-area">
      <div class="icon far fa-envelope"></div>
      <div class="icon-text">お問い合わせ</div>
    </div>
    <div class="text-box">
      <div class="text">
        当サービスに対するご意見・ご要望などがございましたら、下記メールアドレス宛にお気軽にお問い合わせください。
      </div>
      <div class="email">
        broccolli.info@gmail.com
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
