<%= render 'layouts/header' %>

<div>フラワーシッターとは？</div>
<br/>
<div>フラワーシッターはユーザーの植物を一時的に預かってくれる人々です</div>
<div>預かっている期間は、定期的な水やりなど簡易なお世話をします</div>

<br/>
<div class="agreement-area">
  <%= render 'home/agreement/terms_of_service' %>
</div>

<div class="btn-area">
  <%= form_with url: agreement_check_path, method: :post, local: true, class: 'form-check' do |form| %>
    <%= form.check_box :agreement %>
    <%= form.label :agreement, '同意する' %>
    <%= form.submit 'はじめる', class: 'btn btn-primary' %>
  <% end %>
</div>
