<%= render 'layouts/header' %>
<div class="container congrats-area">
  <div class="row">
    <div class="text-box">
      <div class="title">おめでとうございます!!</div>
      <div class="sub-title">植物を預かる準備が整いました</div>
    </div>
    <div class="btn-box">
      <%= link_to 'マイページ', user_path(current_user), class: 'btn btn-success w-75' %>
      <%= link_to 'Topに戻る', root_path, class: 'btn btn-secondary w-75' %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>
