<% provide(:title, '近くのシッターに植物を預かってもらうサービス｜Broccolliトップページ') %>
<% provide(:description, '') %>
<% provide(:keywords, '植物,預ける,サービス,お花,購入,') %>
<%= render 'layouts/header' %>
<div class="pic-area">
  <%= image_tag('top-bg3.jpg', class: 'top-background-sp sp') %>
  <%= image_tag('top-bg6.jpg', class: 'top-background-pc pc') %>
  <div class="pc-top-bg-cover pc"></div>
  <div class="container main-title-box">
    <div class="row justify-content-center my-3">
      <div class="col-11 main-content pt-3 pb-5">
        <div class="sub-title py-2 text-center"></div>
        <div class="title">
          植物を想う、 生活を。
        </div>
        <div class="btn-area">
          <%= link_to('はじめる', cards_path, class: 'btn btn-secondary btn-top border-0') %>
        </div>
      </div>
    </div>
  </div>
  <div class="section-box">
    <div class="text-box-1">
      <div class="title">お家のお花や観葉植物に新しい選択肢を。</div>
      <div class="sub-title">Broccolliは、植物を一時的に預けたい人と預かってくれる人を繋ぐオンラインサービスです。短期から長期まで、旅行や出張で自宅から離れるのときにあなたの植物を守るお手伝いをします。</div>
      <%= link_to('フラワーシッターを探す', cards_path, class: 'btn btn-secondary btn-top border-0') %>
    </div>
  </div>

  <%#= render 'home/example_area' %>

  <div class="middle-pic-area">
    <%= image_tag('middle-3.jpg', class: 'pic') %>
  </div>

  <div class="section-box">
    <div class="text-box-2">
      <div class="title">フラワーシッターとは？</div>
      <div class="sub-title">一時的にあなたがお持ちの植物たちを預かってくれる人々です。お預かりの間はゲストの要望通りに水やりなどのお世話を行います。</div>
      <%= link_to('フラワーシッターになる', agreement_path, class: 'btn btn-primary border-0') %>
    </div>
  </div>

  <%= render 'home/review_for_flower_sitter' %>

</div>

<%= render 'home/usage_flow' %>

<%= render 'home/qna' %>

<%= render 'layouts/footer' %>

<%= render 'layouts/users_under', { user: current_user } %>
