<div class="portfolio-area">
  <div class="portfolio-box">
    <div class="title">学習内容/ポートフォリオ</div>
    <div class="content">
      ・基礎学習<br/>
      Progate(HTML CSS JavaScript jQuery Ruby Ruby on Rails コマンドライン Git)<br/>
      ドットインストール(sinatra入門)<br/>
      Sinatraを使った小さなWebアプリ作成<br/>
      Udemy(よくわかるRuby on Rails 入門 RubyとRailsを基礎から学びWebアプリケーションをネットに公開しよう ) <br/>
      Railsチュートリアル(2周)<br/>
      書籍「ゼロからわかるRuby入門」<br/>
      書籍「プロになるためのWeb技術入門」<br/>
      書籍「ちゃんと使える力を身につけるWebとプログラミングのきほんのきほん」<br/>
      書籍「Railsの教科書」<br/>
      書籍「Bootstrap4 フロントエンド開発の教科書」<br/>
      書籍「たのしいRuby 第5版」<br/>
      書籍「現場で使えるRuby on Rails5速習実践ガイド」<br/>
      <br/>
      自作ポートフォリオ<br/>
      ■ホストOS: MacOS<br/>
      ■言語: HTML CSS JavaScript Ruby SQL<br/>
      ■フレームワーク: Ruby on Rails<br/>
      ■CSSフレームワーク: bootstrap<br/>
      ■JSライブラリ: jQuery<br/>
      ■サーバー: heroku<br/>
      ■その他ツールなど: Git Bitbucket clubhouse<br/><br/>
      ・以前お世話になったアルバイト先に特化した在庫管理＆勤怠管理を目的とした社内アプリケーションの作成(PCでの利用を想定した仕様なのでPCもしくはタブレットでご覧いただけますと幸いです)<br/>
      サービス名: セントラル・キッチン<br/>
      URL: <%= link_to 'アプリケーションサイトへ', "https://central-kitchen.herokuapp.com/users/sign_in" %><br/>
      Bitbucket: <%= link_to 'https://bitbucket.org/genki_ueno/central_kitchen-made-by-gu/src/master/', "https://bitbucket.org/genki_ueno/central_kitchen-made-by-gu/src/master/" %><br/><br/>
      ・自宅で育てているお花や観葉植物を一時的に預かって欲しい人と預かってくれる人を繋ぐオンラインサービ ス<br/>
      サービス名: ブロッコリー<br/>
      URL: <%= link_to 'サービスページへ（PC用レイアウトは作成中のため、モバイルレイアウトでご覧いただけますと幸いです）', "https://www.broccolli.jp" %><br/><br/>
      ・写真投稿SNS開発(Instagramクローン)<br/>
      [サイトURL]<br/>
      <%= link_to 'https://instagram-lesson-local.herokuapp.com/', 'https://instagram-lesson-local.herokuapp.com/' %><br/>
      [BitbucketURL]<br/>
      <%= link_to 'https://bitbucket.org/genki_ueno/instagram-lesson-ueno/src /master/', 'https://bitbucket.org/genki_ueno/instagram-lesson-ueno/src /master/' %><br/>
    </div>
  </div>
</div>
