<% provide(:title, 'Broccolli ログイン/新規登録') %>
<% provide(:description, 'Broccolliは自宅の植物を近くのお花屋さんや植物が好きな人、詳しい人(フラワーシッター)に預かってもらうための日本初マッチングサービスです。アカウントをお持ちの方はこちらからログインしてください。') %>
<% provide(:keywords, '') %>

<%= render 'layouts/header' %>
<div class="login-area">
  <%= image_tag('top-bg.jpg', class: 'bg-image') %>

  <div class="login-box">
    <div class="title">おかえりなさい</div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-group') do |f| %>
      <div class="field">
        <%= f.label :email, class: '' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
<%= render 'layouts/footer' %>
