<% if message.user == current_user %>
  <div class="message-box">
    <div class="message-own">
      <%= simple_format(message.content) %>
    </div>
    <div class="date-own"><%= message.created_at.strftime('%m月%d日 %H:%M') %></div>
  </div>
<% else %>
  <div class="message-box">
    <div class="message-other">
      <div class="icon-area">
        <%= link_to image_tag(message.user.icon, class: 'icon'), message.user %>
      </div>
      <div class="text-box">
        <div class="content"><%= simple_format(message.content) %></div>
        <div class="date-other"><%= message.created_at.strftime('%m月%d日 %H:%M') %></div>
      </div>
    </div>
  </div>
<% end %>
