<div class="room">
  <%= link_to '', room_path(room), class: 'link' %>
  <div class="icon-area">
    <%= image_tag(room.guest == current_user ? room.sitter.icon : room.guest.icon, class: 'icon') %>
  </div>
  <div class="room-text">
    <div class="sitter-name"><%= room.guest == current_user ? room.sitter.name : room.guest.name %></div>
    <div class="date"><%= room.messages.last.created_at.strftime('%m月%d日 %H:%M') if room.messages.last %></div>
  </div>
  <div class="date-area">
    <% if room.unread_count(current_user.id) >= 1 %>
      <div class="unread-count"><%= room.unread_count(current_user.id) %></div>
    <% end %>
  </div>
</div>
