<%= render 'layouts/header' %>

<div class="rooms-area">
  <div class="title"><%= current_user.name %></div>
  <div class="guest_or_sitter">Guest/Sitter</div>
    <%= render( partial: 'rooms/room', collection: @rooms, as: :room ) unless @rooms.blank? %>
  <div id="bg"></div>
</div>

<%= render 'layouts/users_under', { user: current_user } %>
