<%= render 'layouts/header' %>
<div class="message-area">
  <div class="top">
    <div class="icon-area">
      <%= link_to '', rooms_path, class: 'btn-back fas fa-chevron-circle-left' %>
      <% if @room.sitter == current_user %>
        <%= link_to image_tag(@room.guest.icon, class: 'icon'), @room.guest %>
        <div class="name"><%= @room.guest.name %></div>
      <% else %>
        <%= link_to image_tag(@room.sitter.icon, class: 'icon'), @room.sitter %>
        <div class="name"><%= @room.sitter.name %></div>
    <% end %>
    </div>
  </div>
  <% if @room.messages.blank? %>
    <div class="empty_message_area">メッセージがありません。</div>
  <% else %>
    <%= render partial: 'rooms/message', collection: @room.messages, as: :message %>
  <% end %>
</div>
<div class="send-area">
  <% if user_signed_in? %>
    <%= form_with model: current_user.messages.build, url: messages_path, method: :post, local: true, class: 'form-group' do |form| %>
      <%= form.text_area :content, required: true, placeholder: "メッセージを入力する...", class: 'form-control content-form' %>
      <%= form.hidden_field :room_id, value: @room.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit '送信', class: 'btn btn-success btn-done' %>
    <% end %>
  <% end %>
</div>
