<div class="col-6 col-sm-3 box my-2 px-1">
  <div class="content rounded">
    <div class="image-box rounded">
      <%= link_to image_tag(card.image, class: 'image rounded', alt: card.user.name + 'の画像'), card if card.image.attached? %>
    </div>
    <div class="text rounded-bottom">
      <div class="sitter-area">
        <%= link_to image_tag(card.user.icon, class: 'sitter-icon'), card.user if card.user.icon.attached? %>
        <%= link_to card.user.name, card.user, class: 'sitter-name' %>
      </div>
      <div class="title"><%= card.title %></div>
      <div class="description"><%= card.description %></div>
    </div>
  </div>
</div>
