<%= render 'layouts/header' %>
<div class="container card-edit-area">
  <%= form_with model: @card, url: card_path(@card.id), method: :patch, local: true, class: 'form-group' do |form| %>
    <%= form.label :title, 'タイトル' %>
    <%= form.text_field :title,
                        required: true,
                        value: @card.title,
                        placeholder: '例：東京駅すぐ　イカタコ・ワンダフル南口店です！',
                        class: 'form-control' %>
    <br/>
    <div class="image-area">
      <div class="image-box">
        <%= image_tag(@card.image, class: 'image') if @card.image.attached? %>
      </div>
      <div class="imagePreview"></div>
      <div class="input-group">
        <label class="btn-image">
        <span class="btn btn-primary btn-image">
          画像を選択
          <%= form.file_field :image, accept: 'image/jpg,image/jpeg,image/png', class: 'btn-image', style: 'display: none' %>
        </span>
        </label>
      </div>
    </div>
    <br/>
    <%= form.label :description, '説明文' %>
    <%= form.text_area :description, required: true,
                       value: @card.description,
                       placeholder: '例：大阪府ブロッコリー市駅前のフラワーショップ、Broccoli駅前店です！　知識豊富なスタッフが皆さんのお花や観葉植物を一時的にお預かり致します。お気軽にご連絡ください ♪　定休日：水曜日　※水曜日の受付・返却はできません',
                       class: 'form-control description-form' %>
    <br/>
    <%= form.label :price, '料金/日' %>
    <%= form.number_field :price,
                          value: @card.price,
                          require: true,
                          class: 'form-control' %>
    <br/>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.submit '完了', class: 'btn btn-primary btn-done' %>
  <% end %>
</div>
<%= render 'layouts/footer' %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(document).on('change', ':file', function() {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.parent().parent().next(':text').val(label);

        var files = !!this.files ? this.files : [];
        if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support
        if (/^image/.test( files[0].type)){ // only image file
            var reader = new FileReader(); // instance of the FileReader
            reader.readAsDataURL(files[0]); // read the local file
            reader.onloadend = function(){ // set image data as background of div
                input.parent().parent().parent().prev('.imagePreview').css("background-image", "url("+this.result+")");
            }
        }
    });
</script>
