<% provide(:title, 'フラワーシッター検索｜Broccolli 植物を預かってもらうサービス') %>
<% provide(:description, 'Broccolliは自宅の植物を近くのお花屋さんや植物が好きな人、詳しい人(フラワーシッター)に預かってもらうための日本初マッチングサービスです。こちらから近くのフラワーシッターを探しましょう！') %>
<% provide(:keywords, '') %>

<%= render 'layouts/header' %>
<%= search_form_for @q, url: cards_path, class: '' do |f| %>
  <div class="row justify-content-center" id="search-area">
    <div class="">
      <%= f.search_field :title_or_description_cont_all,
                         placeholder: '地名、駅など',
                         class: 'form-control search-window' %>
    </div>
    <div class="">
      <%= button_tag :type => "submit", :class =>"btn btn-search" do %>
        <i class="fa fa-search"></i>
      <% end %>
    </div>
  </div>
<% end %>
<div class="text-area">
  <div class="sub-title">フラワーシッター</div>
  <div class="title">お花や観葉植物のお預け先</div>
</div>
<div class="container cards-index-area">
  <div class="row cards-area no-gutters">
    <%= render partial: 'cards/broccolli', collection: @cards, as: :card %>
    <% if @cards.blank? %>
      <div class="no-result-area">
        <div class="text">見つかりませんでした。</div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'layouts/footer' %>
