<%= render 'layouts/header' %>
<div class="card-area">
  <div class="image-box">
    <%= image_tag(@card.image, class: 'image', alt: @card.user.name + 'の画像') %>
    <%= link_to '', cards_path, class: 'btn-back-on-pic fas fa-chevron-circle-left' %>
  </div>
  <div class="text-area">
    <div class="title"><%= @card.title %></div>
    <div class="name-of-sitter-area">フラワーシッター</div>
    <div class="sitter-icon-area">
      <%= link_to @card.user.name, @card.user, class: 'sitter-name' %>
      <%= link_to image_tag(@card.user.icon, class: 'sitter-icon'), @card.user if @card.user.icon.attached? %>
    </div>
    <div class="description"><%= @card.description %></div>
  </div>
  <div class="offer-area">
    <div class="price">1つ¥<%= @card.price %>から</div>
<!--    <div class="loader">Loading</div>-->
    <%= form_with model: user_signed_in? ? current_user.sitter_rooms.build : @room, url: rooms_path, method: :post, local: true, class: 'form-group' do |form| %>
      <%= form.hidden_field :guest_id, value: user_signed_in? ? current_user.id : 0 %>
      <%= form.hidden_field :sitter_id, value: @card.user.id %>
      <%= form.submit '依頼・質問', class: 'btn btn-success btn-offer' unless current_user == @card.user %>
      <%= link_to '編集', edit_card_path(@card.id), class: 'btn btn-info btn-offer' if current_user == @card.user %>
    <% end %>
  </div>
</div>
