@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');
@import "./home.scss";
@import "./broccollies.scss";
@import "./sitter_registration.scss";
@import "./cards.scss";
@import "./users.scss";
@import "./rooms.scss";
@import "./devise.scss";

$theme-color: rgba(#4a965d, 0.9);
$sub-theme-color: #ff795e;

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 750px) {
  .pc { display: none !important; }
  .sp { display: block !important; }
}

//.topHeader {
//  background: linear-gradient(60deg, #39955c, #9dd57f);
//}
header {
  @include sp {
    height: 8vh;
    text-align: center;
    background-color: $theme-color;
    .logo-area {
      display: table;
      .logo {
        //color: $theme-color;
        color: white;
        height: 4.2vh;
        width: 4.2vh;
        display: table-cell;
        vertical-align: middle;
        padding-bottom: 4px;
      }
      .title {
        //color: black;
        color: white;
        font-size: 4vh;
        font-family: 'Baloo', cursive;
        display: table-cell;
        text-align: left;
        text-decoration: none;
        padding-left: 4px;
      }
    }
    .user-icon {
      height: 5.4vh;
      width: 5.4vh;
      object-fit: cover;
      border-radius: 2.7vh;
    }
    .btn {
      font-size: 4vh;
      //background-color: white;
      background-color: rgba(#fff, 0);
      color: white;
    }
  }
  @include pc {
    height: 8vh;
    text-align: center;
    background-color: $theme-color;
    .logo-area {
      text-align: left;
      .title {
        font-size: 36px;
        color: white;
        padding-left: 36px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
footer {
  @include sp {
    height: 18vh;
    color: white;
    background-color: #30353e;
  }
}

.bg-theme-color {
  background-color: $theme-color;
}

.flash-box {
  margin: 0;
}
.flash-close {
  color: #444444;
  position: absolute;
  top: 16px;
  right: 12px;
}
.flash-close:active {
  text-decoration: none;
}

.fixed-area {
  @include sp{
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    .box {
      height: 9vh;
      background-color: white;
      border-radius: 12px 12px 0 0;
      box-shadow: 0 0 8px #7b7b7b;
      padding-bottom: 1vh;
      .item-box {
        padding-top: 8px;
        .items {
          height: 6vh;
          width: 6vh;
          font-size: 3.5vh;
          text-align: center;
          padding: 1vh 0;
          position: relative;
          .badge {
            height: 18px;
            min-width: 18px;
            font-size: 10px;
            font-weight: 700;
            line-height: 18px;
            color: white;
            border-radius: 9px;
            background-color: #ff647c;
            padding: 0;
            position: absolute;
            top: 0;
            right: 0;
          }
          .link {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
          }
        }
      }
      .under-icon {
        height: 5.4vh;
        width: 5.4vh;
        border-radius: 2.7vh;
        object-fit: cover;
      }
    }
  }
}
.users_under-blank {
  height: 7.7vh;
  width: 100vw;
  background-color: white;
}

.alert-area {
  background-color: white;
}
$ng_alert_bg_color: #f2dede;
$ng_alert_border_color: #eed3d7;
$ng_alert_color: #b94a48;
$ok_alert_bg_color: #dff0d8;
$ok_alert_border_color: #d6e9c6;
$ok_alert_color: #468847;
/* flash */
.alert-alert {
  background-color: $ng_alert_bg_color;
  border-color: $ng_alert_border_color;
  color: $ng_alert_color;
  text-align: left;
}
.alert-notice {
  background-color: $ok_alert_bg_color;
  border-color: $ok_alert_border_color;
  color: $ok_alert_color;
  text-align: left;
}

.loader {
  margin: 12px auto;
  font-size: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #d548a3, 1.8em -1.8em 0 0em rgba(213,72,163, 0.2), 2.5em 0em 0 0em rgba(213,72,163, 0.2), 1.75em 1.75em 0 0em rgba(213,72,163, 0.2), 0em 2.5em 0 0em rgba(213,72,163, 0.2), -1.8em 1.8em 0 0em rgba(213,72,163, 0.2), -2.6em 0em 0 0em rgba(213,72,163, 0.5), -1.8em -1.8em 0 0em rgba(213,72,163, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(213,72,163, 0.7), 1.8em -1.8em 0 0em #d548a3, 2.5em 0em 0 0em rgba(213,72,163, 0.2), 1.75em 1.75em 0 0em rgba(213,72,163, 0.2), 0em 2.5em 0 0em rgba(213,72,163, 0.2), -1.8em 1.8em 0 0em rgba(213,72,163, 0.2), -2.6em 0em 0 0em rgba(213,72,163, 0.2), -1.8em -1.8em 0 0em rgba(213,72,163, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(213,72,163, 0.5), 1.8em -1.8em 0 0em rgba(213,72,163, 0.7), 2.5em 0em 0 0em #d548a3, 1.75em 1.75em 0 0em rgba(213,72,163, 0.2), 0em 2.5em 0 0em rgba(213,72,163, 0.2), -1.8em 1.8em 0 0em rgba(213,72,163, 0.2), -2.6em 0em 0 0em rgba(213,72,163, 0.2), -1.8em -1.8em 0 0em rgba(213,72,163, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(213,72,163, 0.2), 1.8em -1.8em 0 0em rgba(213,72,163, 0.5), 2.5em 0em 0 0em rgba(213,72,163, 0.7), 1.75em 1.75em 0 0em #d548a3, 0em 2.5em 0 0em rgba(213,72,163, 0.2), -1.8em 1.8em 0 0em rgba(213,72,163, 0.2), -2.6em 0em 0 0em rgba(213,72,163, 0.2), -1.8em -1.8em 0 0em rgba(213,72,163, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(213,72,163, 0.2), 1.8em -1.8em 0 0em rgba(213,72,163, 0.2), 2.5em 0em 0 0em rgba(213,72,163, 0.5), 1.75em 1.75em 0 0em rgba(213,72,163, 0.7), 0em 2.5em 0 0em #d548a3, -1.8em 1.8em 0 0em rgba(213,72,163, 0.2), -2.6em 0em 0 0em rgba(213,72,163, 0.2), -1.8em -1.8em 0 0em rgba(213,72,163, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(213,72,163, 0.2), 1.8em -1.8em 0 0em rgba(213,72,163, 0.2), 2.5em 0em 0 0em rgba(213,72,163, 0.2), 1.75em 1.75em 0 0em rgba(213,72,163, 0.5), 0em 2.5em 0 0em rgba(213,72,163, 0.7), -1.8em 1.8em 0 0em #d548a3, -2.6em 0em 0 0em rgba(213,72,163, 0.2), -1.8em -1.8em 0 0em rgba(213,72,163, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(213,72,163, 0.2), 1.8em -1.8em 0 0em rgba(213,72,163, 0.2), 2.5em 0em 0 0em rgba(213,72,163, 0.2), 1.75em 1.75em 0 0em rgba(213,72,163, 0.2), 0em 2.5em 0 0em rgba(213,72,163, 0.5), -1.8em 1.8em 0 0em rgba(213,72,163, 0.7), -2.6em 0em 0 0em #d548a3, -1.8em -1.8em 0 0em rgba(213,72,163, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(213,72,163, 0.2), 1.8em -1.8em 0 0em rgba(213,72,163, 0.2), 2.5em 0em 0 0em rgba(213,72,163, 0.2), 1.75em 1.75em 0 0em rgba(213,72,163, 0.2), 0em 2.5em 0 0em rgba(213,72,163, 0.2), -1.8em 1.8em 0 0em rgba(213,72,163, 0.5), -2.6em 0em 0 0em rgba(213,72,163, 0.7), -1.8em -1.8em 0 0em #d548a3;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #d548a3, 1.8em -1.8em 0 0em rgba(213,72,163, 0.2), 2.5em 0em 0 0em rgba(213,72,163, 0.2), 1.75em 1.75em 0 0em rgba(213,72,163, 0.2), 0em 2.5em 0 0em rgba(213,72,163, 0.2), -1.8em 1.8em 0 0em rgba(213,72,163, 0.2), -2.6em 0em 0 0em rgba(213,72,163, 0.5), -1.8em -1.8em 0 0em rgba(213,72,163, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(213,72,163, 0.7), 1.8em -1.8em 0 0em #d548a3, 2.5em 0em 0 0em rgba(213,72,163, 0.2), 1.75em 1.75em 0 0em rgba(213,72,163, 0.2), 0em 2.5em 0 0em rgba(213,72,163, 0.2), -1.8em 1.8em 0 0em rgba(213,72,163, 0.2), -2.6em 0em 0 0em rgba(213,72,163, 0.2), -1.8em -1.8em 0 0em rgba(213,72,163, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(213,72,163, 0.5), 1.8em -1.8em 0 0em rgba(213,72,163, 0.7), 2.5em 0em 0 0em #d548a3, 1.75em 1.75em 0 0em rgba(213,72,163, 0.2), 0em 2.5em 0 0em rgba(213,72,163, 0.2), -1.8em 1.8em 0 0em rgba(213,72,163, 0.2), -2.6em 0em 0 0em rgba(213,72,163, 0.2), -1.8em -1.8em 0 0em rgba(213,72,163, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(213,72,163, 0.2), 1.8em -1.8em 0 0em rgba(213,72,163, 0.5), 2.5em 0em 0 0em rgba(213,72,163, 0.7), 1.75em 1.75em 0 0em #d548a3, 0em 2.5em 0 0em rgba(213,72,163, 0.2), -1.8em 1.8em 0 0em rgba(213,72,163, 0.2), -2.6em 0em 0 0em rgba(213,72,163, 0.2), -1.8em -1.8em 0 0em rgba(213,72,163, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(213,72,163, 0.2), 1.8em -1.8em 0 0em rgba(213,72,163, 0.2), 2.5em 0em 0 0em rgba(213,72,163, 0.5), 1.75em 1.75em 0 0em rgba(213,72,163, 0.7), 0em 2.5em 0 0em #d548a3, -1.8em 1.8em 0 0em rgba(213,72,163, 0.2), -2.6em 0em 0 0em rgba(213,72,163, 0.2), -1.8em -1.8em 0 0em rgba(213,72,163, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(213,72,163, 0.2), 1.8em -1.8em 0 0em rgba(213,72,163, 0.2), 2.5em 0em 0 0em rgba(213,72,163, 0.2), 1.75em 1.75em 0 0em rgba(213,72,163, 0.5), 0em 2.5em 0 0em rgba(213,72,163, 0.7), -1.8em 1.8em 0 0em #d548a3, -2.6em 0em 0 0em rgba(213,72,163, 0.2), -1.8em -1.8em 0 0em rgba(213,72,163, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(213,72,163, 0.2), 1.8em -1.8em 0 0em rgba(213,72,163, 0.2), 2.5em 0em 0 0em rgba(213,72,163, 0.2), 1.75em 1.75em 0 0em rgba(213,72,163, 0.2), 0em 2.5em 0 0em rgba(213,72,163, 0.5), -1.8em 1.8em 0 0em rgba(213,72,163, 0.7), -2.6em 0em 0 0em #d548a3, -1.8em -1.8em 0 0em rgba(213,72,163, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(213,72,163, 0.2), 1.8em -1.8em 0 0em rgba(213,72,163, 0.2), 2.5em 0em 0 0em rgba(213,72,163, 0.2), 1.75em 1.75em 0 0em rgba(213,72,163, 0.2), 0em 2.5em 0 0em rgba(213,72,163, 0.2), -1.8em 1.8em 0 0em rgba(213,72,163, 0.5), -2.6em 0em 0 0em rgba(213,72,163, 0.7), -1.8em -1.8em 0 0em #d548a3;
  }
}

.portfolio-area {
  .portfolio-box {
    padding: 48px;
    .title {
      font-weight: bolder;
      font-size: 24px;
    }
  }
}
