$pc: 100vw; // PC
$tab: 768px; // タブレット
$sp: 576px;  // スマホ
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.cards-area {
  @include sp {
    .content {
      height: 81vw;
      .image-box {
        height: 54vw;
        background-color: #ecf8ff;
        box-shadow: 0 0 8px #dfe5ea;
        .image {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .text {
        height: 27vw;
        padding: 0 4px;
        overflow: scroll;
        .sitter-area {
          margin-top: 4px;
          .sitter-icon {
            height: 4vh;
            width: 4vh;
            object-fit: cover;
            border-radius: 2vh;
            display: inline-block;
          }
          .sitter-name {
            color: black;
            font-size: 3vw;
            display: inline-block;
          }
          .sitter-name:active {
            text-decoration: none;
          }
        }
        .title {
          font-size: 4vw;
          font-weight: bolder;
        }
        .description {
          font-size: 3vw;
        }
      }
    }
  }
}

