$pc: 100vw; // PC
$tab: 768px; // タブレット
$sp: 576px;  // スマホ
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

$theme-color: rgba(#4a965d, 0.9);
$sub-theme-color: #ff795e;

//#cards#index
#search-area {
  @include sp {
    padding: 16px 0 16px 0;
    background-color: $theme-color;
    .search-window {
      border: none;
      border-radius: 19px 0 0 19px;
    }
    .btn-search {
      height: 38px;
      border: none;
      border-radius: 0 19px 19px 0;
      background-color: white;
    }
  }
}
.text-area {
  @include sp {
    padding: 24px 0 36px 0;
    text-align: center;
    background-color: #fcf5ee;
    .sub-title {
      font-size: 14px;
      font-weight: bolder;
      color: #666666;
    }
    .title {
      font-size: 24px;
      font-weight: bold;
      color: $sub-theme-color;
    }
  }
}
.cards-index-area {
  @include sp {
    margin: 16px 0;
    .no-result-area {
      height: 70vh;
      width: 100vw;
      text-align: center;
      background-color: white;
      padding-top: 24px;
      .text {
        color: #666666;
      }
    }
  }
}

//cards#show
.card-area {
  @include sp {
    margin-bottom: 55px;
    .image-box {
      height: 100vw;
      background-color: #ff6b46;
      position: relative;
      .image {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      .btn-back-on-pic {
        position: absolute;
        top: 8px;
        left: 8px;
        font-size: 32px;
        color: white;
        &:active {
          text-decoration: none;
        }
      }
    }
    .text-area {
      padding: 0 24px;
      .title {
        font-size: 6vw;
        font-weight: bolder;
        padding: 12px 8px;
      }
      .name-of-sitter-area {
        font-size: 8px;
        text-align: left;
        color: #b4b4b4;
        padding-left: 8px;
      }
      .sitter-icon-area {
        height: 48px;
        width: 100%;
        border: solid 1px #c2c2c2;
        border-radius: 4px;
        padding: 8px;
        margin: 0 0 18px 0;
        display: table;
        .sitter-icon {
          height: 42px;
          width: 42px;
          object-fit: cover;
          border-radius: 21px;
          display: table-cell;
          vertical-align: middle;
          margin: 0 auto;
        }
        .sitter-name {
          width: 80%;
          color: black;
          font-size: 14px;
          text-align: left;
          overflow: auto;
          display: table-cell;
          vertical-align: middle;
          padding-left: 12px;
        }
        .sitter-name:active {
          text-decoration: none;
        }
      }
      .description {
        font-size: 5vw;
        padding: 0 12px 48px 12px;
      }
    }
  }
  .offer-area {
    width: 100vw;
    padding: 8px 8vw;
    border-top: solid 1px #c3c3c3;
    background-color: white;
    position: fixed;
    bottom: 0;
    display: table;
    .price {
      display: table-cell;
      vertical-align: middle;
      font-weight: 600;
    }
    .form-group {
      display: table-cell;
      vertical-align: middle;
      text-align: right;
      .btn-offer {
      }
    }
  }
}

//card#edit
.card-edit-area {
  @include sp {
    .top {
      padding: 40px 10px 50px 10px;
      text-align: center;
      font-family: "M PLUS Rounded 1c";
      .user-name {
        font-size: 6vw;
        padding: 10px;
      }
      .title {
        font-size: 8vw;
        font-weight: 900;
      }
      .sub-title {
        padding: 30px 20px 16px 20px ;
      }
    }
    .description-form {
      height: 24vh;
    }
    .btn-done {
      width: 100%;
      margin: 16px 0 36px 0;
    }
    .image-area {
      position: relative;
      .image-box {
        margin-bottom: 8px;
        .image {
          width: 100%;
          height: 60vh;
          object-fit: cover;
        }
      }
      .imagePreview {
        width: 100%;
        height: 60vh;
        background-position: center center;
        background-size: cover;
        -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .btn-image {
    }
  }
}
