$pc: 100vw; // PC
$tab: 768px; // タブレット
$sp: 576px;  // スマホ
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.login-area {
  @include sp {
    padding: 48px 24px 96px 24px;
    .bg-image {
      height: 100vh;
      width: 100vw;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    .login-box {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 12px;
      padding: 16px;
      .title {
        font-size: 28px;
        font-weight: bolder;
        padding: 0 0 16px 0;
      }
      .btn {
        margin: 16px 0;
        width: 100%;
      }
    }
  }
}

.sign-up-area {
  @include sp {
    padding: 48px 24px 96px 24px;
    .bg-image {
      height: 110vh;
      width: 100vw;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    .sign-up-box {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 12px;
      padding: 16px;
      .title {
        font-size: 28px;
        font-weight: bolder;
        padding: 0 0 16px 0;
      }
      .btn {
        margin: 32px 0 16px 0;
        width: 100%;
      }
    }
  }
}
