$pc: 100vw; // PC
$tab: 768px; // タブレット
$sp: 576px;  // スマホ
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

//$theme-color: #6bab7d;
$theme-color: rgba(93, 157, 92, 0.9);
$sub-theme-color: #ff795e;
.top-background-pc {
  width: 100%;
  height: 85vh;
  object-fit: cover;
  z-index: -10;
}
.top-background-sp {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  z-index: -10;
}
.pc-top-bg-cover {
  width: 100%;
  height: 85vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
}
.pic-area {
  @include sp {
    position: relative;
    .main-title-box {
      height: 42vh;
      position: absolute;
      top: 0;
      .main-content {
        margin-top: 5vh;
        text-align: center;
        .title {
          font-weight: bolder;
          font-size: 28px;
          text-shadow: 0 0 4px #c5c5c5;
          //background-clip: text;
          -webkit-background-clip: text;
          //color: linear-gradient(-45deg,#FFB3E7,#FF54C9);
          animation: gradationTest 5s infinite;
        }
        .sub-title {
          color: white;
          text-shadow: 0 0 4px #4a4a4a;
        }
        .btn-area {
          padding: 0;
          margin-top: 18px;
          text-align: center;
          .btn {
            color: white;
            background-color: $sub-theme-color;
          }
        }
      }
    }
    .middle-pic-area {
      .pic {
        width: 100%;
        height: 320px;
        object-fit: cover;
      }
    }
    .section-box {
      color: #5e5e5e;
      width: 100%;
      background-color: #fcfafa;
      .text-box-1 {
        padding: 24px 24px 48px 24px;
        .title {
          color: #4e4e4e;
          font-size: 24px;
          font-weight: bolder;
          padding: 24px 0;
        }

        .sub-title {
          font-size: 18px;
          line-height: 28px;
        }

        .btn {
          background-color: $sub-theme-color;
          margin: 16px 0;
        }
      }
      .text-box-2 {
        background: linear-gradient(45deg, #39955c, #9dd57f);
        color: white;
        padding: 8px 24px 48px 24px;
        .title {
          font-size: 24px;
          font-weight: bolder;
          padding: 32px 0;
        }
        .sub-title {
          font-size: 18px;
          line-height: 28px;
        }
        .btn {
          background-color: $sub-theme-color;
          margin: 16px 0;
        }
      }
    }
    .black-bottom {
      color: white;
      //text-shadow: 0 0 4px #5f5f5f;
      width: 100%;
      height: 24vh;
      position: absolute;
      top: 56vh;
      background: linear-gradient(to bottom, rgba(255,255,255,0), $theme-color 70%);
    }
  }
  @include pc {
    position: relative;
    .main-title-box {
      height: 42vh;
      position: absolute;
      top: 0;
      .main-content {
        margin-top: 5vh;
        text-align: center;
        .title {
          font-weight: bolder;
          font-size: 28px;
          text-shadow: 0 0 4px #c5c5c5;
          //background-clip: text;
          -webkit-background-clip: text;
          //color: linear-gradient(-45deg,#FFB3E7,#FF54C9);
          animation: gradationTest 5s infinite;
        }
        .sub-title {
          color: white;
          text-shadow: 0 0 4px #4a4a4a;
        }
        .btn-area {
          padding: 0;
          margin-top: 18px;
          text-align: center;
          .btn {
            color: white;
            background-color: $sub-theme-color;
          }
        }
      }
    }
    .middle-pic-area {
      .pic {
        width: 100%;
        height: 320px;
        object-fit: cover;
      }
    }
    .section-box {
      color: #5e5e5e;
      width: 100%;
      background-color: #fcfafa;
      .text-box-1 {
        padding: 24px 24px 48px 24px;
        .title {
          color: #4e4e4e;
          font-size: 24px;
          font-weight: bolder;
          padding: 24px 0;
        }

        .sub-title {
          font-size: 18px;
          line-height: 28px;
        }

        .btn {
          background-color: $sub-theme-color;
          margin: 16px 0;
        }
      }
      .text-box-2 {
        background: linear-gradient(45deg, #39955c, #9dd57f);
        color: white;
        padding: 8px 24px 48px 24px;
        .title {
          font-size: 24px;
          font-weight: bolder;
          padding: 32px 0;
        }
        .sub-title {
          font-size: 18px;
          line-height: 28px;
        }
        .btn {
          background-color: $sub-theme-color;
          margin: 16px 0;
        }
      }
    }
    .black-bottom {
      color: white;
      //text-shadow: 0 0 4px #5f5f5f;
      width: 100%;
      height: 24vh;
      position: absolute;
      top: 56vh;
      background: linear-gradient(to bottom, rgba(255,255,255,0), $theme-color 70%);
    }
  }
}
@keyframes gradationTest {
  0% { color: #ff964d; }
  25% { color: #ff8475; }
  50% { color: #ff795e; }
  75% { color: #ffa757; }
  100% { color: #ff9548; }
}

//about_us.html.erb
.about-h1 {
  font-size: 28px;
}
.about-area {
  @include sp {
    padding: 24px;
    .about-box {
      padding: 0 0 60px;
    }
    .team-box {
      .member-box {
        padding: 12px 0;
        display: table;
        .member-pic {
          display: table-cell;
          height: 80px;
          width: 80px;
          border-radius: 40px;
          object-fit: cover;
        }
        .member-text {
          display: table-cell;
          vertical-align: middle;
          padding: 12px;
        }
      }
    }
  }
  @include pc {

  }
}

.example-area {
  @include sp {
    height: 344px;
    padding-top: 40px;
    background: linear-gradient(45deg, #39955c, #9dd57f);
    .text {
      color: white;
      padding: 24px;
      width: 100vw;
      .title {
        font-size: 6vw;
        font-weight: bolder;
        //font-family: "M PLUS Rounded 1c";
      }
      .sub-title {
        font-size: 4vw;
      }
      .btn {
        color: white;
        margin-top: 6px;
      }
    }
    .horizontal-list {
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      padding-left: 18px;
    }
    .item {
      /* 横スクロール用 */
      display: inline-block;
      width: 56vw;
      border-radius: 8px;

      /* 見た目調整 */
      height: 240px;
      margin: 12px;
      font-size: 24px;
      background: rgba(#fff, 0.9);
      box-shadow: 0 0 12px 4px rgba(#aaa,0.2);
    }
  }
  @include pc {
    display: none;
  }
}

//_usage_flow.html.erb
.usage-flow-area {
  @include sp {
    padding: 56px 18px;
    background: linear-gradient(45deg, #39955c, #acea8b);
    .usage-flow-box {
      background-color: white;
      border-radius: 6px;
      padding: 12px 0 24px 0;
      .title {
        font-size: 24px;
        font-weight: bolder;
        color: #666666;
        padding: 18px 18px;
      }
      .usage-item {
        color: #666666;
        padding: 24px 18px;
        .illustration {
          color: rgba(#ff795e, 0.8);
          font-size: 36px;
          padding: 0 0 6px 6px;
        }
        .text {

        }
      }
    }
  }
  @include pc {
    display: none;
  }
}

//_qna.html.erb
.qna-area {
  @include sp {
    padding: 36px 0;
    .qna-title {
      text-align: center;
      padding: 16px 0;
    }
    .qna-item {
      padding: 12px 0;
      margin-bottom: 28px;
      .qna-q {
        padding-bottom: 6px;
      }
      .qna-a {
        padding: 6px 0;
      }
    }
  }
  @include pc {
    display: none;
  }
}

//_review_area.html.erb
.review-for-flower-sitter-area {
  @include sp{
    background-color: #fcfafa;
    .top-box {
      color: #5e5e5e;
      padding: 60px 0 48px 0;
      text-align: center;
      .sub-title {
        font-size: 16px;
      }
      .title {
        font-size: 28px;
        font-weight: bold;
      }
    }
    .reviewer-box {
      padding: 28px 28px 56px 28px;
      .comment-area {
        border-radius: 8px;
        background-color: white;
        padding: 56px 16px 16px 16px;
        position: relative;
        box-shadow: 0 0 8px #bababa;
        .icon-frame {
          text-align: center;
          width: 100%;
          position: absolute;
          top: -40px;
          left: 0;
          .icon {
            height: 80px;
            width: 80px;
            border-radius: 40px;
            background-color: bisque;
            z-index: 2;
            box-shadow: 0 0 8px #bababa;
          }
        }
        .text {
          .text-tag-head {
            font-size: 42px;
            font-weight: bold;
            color: $sub-theme-color;
            text-align: left;
          }
          .text-tag-end {
            font-size: 42px;
            font-weight: bold;
            color: $sub-theme-color;
            text-align: right;
          }
          .description {
            text-align: center;
            font-size: 18px;
          }
          .country {
            text-align: right;
            padding: 6px 6px 0 6px;
            font-size: 20px;
            font-weight: bolder;
          }
        }
      }
    }
  }
  @include pc {
    display: none;
  }
}

.contact-area {
  @include sp {
    height: 74vh;
    background-color: #4a965d;
    padding: 12px 6px;
    .box {
      height: 100%;
      width: 100%;
      color: #4b4b4b;
      background-color: white;
      border-radius: 6px;
      text-align: center;
      padding: 24px;
      .icon-area {
        height: 60px;
        width: 100%;
        display: inline-block;
        margin: 32px 0;
        .icon {
          height: 60px;
          width: 60px;
          color: white;
          border-radius: 30px;
          background-color: rgba(#ff795e, 0.7);
          font-size: 32px;
          line-height: 60px;
          display: inline-block;
        }
        .icon-text {
          font-size: 20px;
          font-weight: bolder;
          line-height: 60px;
          display: inline-block;
        }
      }
      .text-box {
        .text {
          padding-top: 36px;
        }
        .email {
          padding: 16px;
        }
      }
    }
  }
  @include pc {
    display: none;
  }
}
