$pc: 100vw; // PC
$tab: 768px; // タブレット
$sp: 576px;  // スマホ
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
$theme-color: rgba(#4a965d, 0.9);
$sub-theme-color: #ff795e;


//rooms#index, _room.html.erb
.rooms-area {
  @include sp{
    .title {
      font-size: 24px;
      font-weight: bolder;
      text-align: center;
      padding: 4px;
      border-bottom: solid 1px #ffffff;
      background-color: white;
    }
    .guest_or_sitter {
      font-size: 16px;
      text-align: center;
      padding: 4px;
      color: white;
      background-color: $theme-color;
    }
    .room {
      height: 64px;
      width: 100vw;
      padding: 12px 0 12px 8px;
      display: table;
      position: relative;
      .link {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
      .link:active {
        background-color: rgba(176, 176, 176, 0.1);
      }
      .icon-area {
        width: 56px;
        margin: 0 auto;
        display: table-cell;
        vertical-align: middle;
        .icon {
          height: 56px;
          width: 56px;
          border-radius: 28px;
          object-fit: cover;
        }
      }
      .room-text {
        padding: 2vw;
        margin-left: 8px;
        border-radius: 6px 0 0 6px;
        .sitter-name {
          height: 24px;
          font-size: 16px;
          font-weight: bolder;
          overflow: hidden;
        }
        .date {
          font-size: 12px;
        }
      }
      .date-area {
        width: 40px;
        display: table-cell;
        position: relative;
        .unread-count {
          height: 20px;
          min-width: 20px;
          font-size: 12px;
          font-weight: 700;
          line-height: 20px;
          color: white;
          text-align: center;
          border-radius: 10px;
          background-color: #ff647c;
          padding: 0;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
    #bg {
      height: 100vh;
      width: 100vw;
      background-color: #fdfdfd;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}

//room#show, _message.html.erb
.message-area {
  @include sp{
    .top {
      width: 100vw;
      padding: 6px;
      display: table;
      text-align: center;
      background-color: $theme-color;
      color: white;
      .icon-area {
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        .btn-back {
          color: white;
          font-size: 24px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 18px;
          &:active {
            text-decoration-line: none;
          }
        }
        .icon {
          height: 36px;
          width: 36px;
          border-radius: 18px;
          object-fit: cover;
          display: inline-block;
        }
        .name {
          height: 24px;
          width: 70%;
          overflow: hidden;
          font-size: 18px;
          font-weight: 500;
          display: inline-block;
          vertical-align: middle;
          text-align: left;
          margin-left: 6px;
        }
      }
    }
    .empty_message_area {
      height: 60vh;
      text-align: center;
      padding: 12px;
    }
    .message-box {
      padding: 10px 6px;
      .message-own {
        width: 70%;
        padding: 8px 12px;
        border-radius: 12px;
        background-color: #e4e4e4;
        margin: 0 0 0 auto;
        p {
          margin: 0;
        }
      }
      .date-own {
        font-size: 12px;
        text-align: right;
      }
      .message-other {
        width: 70%;
        display: table;
        .icon-area {
          width: 32px;
          margin: 0 auto;
          display: table-cell;
          vertical-align: top;
          padding: 6px;
          .icon {
            height: 32px;
            width: 32px;
            border-radius: 16px;
            object-fit: cover;
          }
        }
        .text-box {
          .content {
            padding: 8px 12px;
            border-radius: 12px;
            border: solid 1px #cccccc;
            p {
              margin: 0;
            }
          }
          .date-other {
            font-size: 12px;
            padding-left: 6px;
          }
        }
      }
    }
  }
}
.send-area {
  @include sp {
    width: 100vw;
    background-color: #c0c0c0;
    padding: 6px;
    .content-form {
      height: 80px;
      margin-bottom: 12px;
    }
    .btn-done {
      width: 100%;
    }
  }
}
