$pc: 100vw; // PC
$tab: 768px; // タブレット
$sp: 576px;  // スマホ
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.agreement-area {
  @include sp {
    border-radius: 8px;
    background-color: rgba(160, 231, 158, 0.5);
    margin: 12px;
    padding: 24px;
    .title {
      font-size: 24px;
      font-weight: bolder;
    }
    .sub-title {
      font-size: 20px;
      font-weight: bolder;
    }
  }
}
.btn-area {
  padding: 6px 20px 20px 20px;
  text-align: right;
}

.welcome-area {
  @include sp {
    .top {
      padding: 40px 10px 50px 10px;
      text-align: center;
      font-family: "M PLUS Rounded 1c";
      .user-name {
        font-size: 6vw;
        padding: 10px;
      }
      .title {
        font-size: 8vw;
        font-weight: 900;
      }
      .sub-title {
        padding: 30px 20px 16px 20px ;
      }
    }
    .description-form {
      height: 24vh;
    }
    .btn-done {
      width: 100%;
      margin: 16px 0 36px 0;
    }
    .preImagePreview {
      width: 100%;
      height: 38px;
      background-position: center center;
      background-size: cover;
      -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    }
    .imagePreview {
      width: 100%;
      height: 60vh;
      background-position: center center;
      background-size: cover;
      -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
      display: none;
    }
    .btn-image {

    }
  }
}

.congrats-area {
  @include sp {
    text-align: center;
    .text-box {
      width: 100%;
      padding: 60px 20px;
      .title {
        font-size: 8vw;
        font-weight: bolder;
        padding: 20px 0;
      }
      .sub-title {

      }
    }
    .btn-box {
      width: 100%;
      padding: 30px 0 60px 0;
      .btn {
        margin: 10px 0;
      }
    }
  }
}
