$pc: 100vw; // PC
$tab: 768px; // タブレット
$sp: 576px;  // スマホ
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

//users#show
.user-area {
  @include sp {
    text-align: center;
    .user-box {
      height: 72vh;
      width: 90vw;
      color: white;
      background: linear-gradient(120deg, #3f8351, #65e795);
      box-shadow: 0 4px 10px #727272;
      margin: auto;
      margin-top: 4vh;
      padding: 3vh 0 0 0;
      border-radius: 16px;
      position: relative;
      .icon {
        height: 15vh;
        width: 15vh;
        border-radius: 7.5vh;
        background-color: #c0c0c0;
        margin: auto;
        object-fit: cover;
      }
      .name {
        max-height: 100px;
        font-size: 4vh;
        line-height: 4.5vh;
        font-weight: bolder;
        overflow: auto;
        padding: 3vh 0 0 0;
      }
      .email {
        padding-top: 8px;
      }
      .profile {
        height: 24vh;
        padding: 2vh;
        overflow: auto;
        p {
          margin: 0;
        }
      }
      .btn-edit {
        color: white;
        height: 4vh;
        width: 70vw;
        border-radius: 2vh;
        border: solid 1px white;
        padding: 0 2vh;
      }
    }
    .users-sitter-card-area {
      @include sp {
        padding: 12px;
        margin: 24px 0 9vh 0;
        .flower-sitter {
          height: 42px;
          width: 100%;
          border-bottom: solid 1px #aaaaaa;
          margin-bottom: 24px;
          color: #ff795e;
          font-size: 24px;
          font-weight: bolder;
        }
        .table-box {
          height: 32vh;
          width: 100%;
          display: table;
          padding: 0 8px;
          .card-image {
            display: table-cell;
            height: 32vh;
            width: 46vw;
            border-radius: 8px;
            object-fit: cover;
          }
          .detail-box {
            display: table-cell;
            width: 100%;
            vertical-align: top;
            .card-title {
              height: 12vh;
              font-size: 20px;
              font-weight: bolder;
              padding: 8px 0;
              overflow: auto;
            }
            .card-price {
              height: 4vh;
            }
            .link-area {
              height: 16vh;
              position: relative;
              .to-edit {
                width: 90%;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 60px;
                margin: 0 auto;
              }
              .to-show {
                width: 90%;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 16px;
                margin: 0 auto;
              }
            }
          }
        }
        .card-description {
          height: 32vh;
          width: 100%;
          overflow: auto;
          font-size: 14px;
          padding: 0 8px;
          text-align: left;
        }
      }
    }
  }
}

//users#edit
.edit-area {
  @include sp {
    background: linear-gradient(120deg, #3f8351, #65e795);
    padding: 4vh 2vh;
    .edit-box {
      height: 90vh;
      width: 90vw;
      text-align: center;
      background-color: white;
      box-shadow: 0 4px 10px #727272;
      margin: auto;
      border-radius: 16px;
      padding: 1vh 2vh 3vh 2vh;
      .yes-no-area {
        height: 6vh;
        margin-bottom: 2vh;
        position: relative;
        .btn-cancel {
          border: none;
          position: absolute;
          top: 0;
          left: 0;
        }
        .btn-done {
          border: none;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      .icon-box {
        z-index: 2;
        .icon{
          height: 15vh;
          width: 15vh;
          object-fit: cover;
          border-radius: 7.5vh;
          border: none;
          margin: auto;
          background-color: #FFB3E7;
          background-position: center center;
          background-size: cover;
          -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
          //display: inline-block;
          z-index: -1;
        }
      }
      .icon-preview {
        height: 15vh;
        width: 15vh;
        object-fit: cover;
        border-radius: 7.5vh;
        border: none;
        margin: auto;
        background-position: center center;
        background-size: cover;
        -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
        position: absolute;
        top: 21vh;
        left: 0;
        right: 0;
      }
      .input-group {
        text-align: center;
        .btn-icon {
          margin: auto;
          margin-top: 8px;
          margin-bottom: 16px;
          border-radius: 19px;
        }
      }
      .name {font-weight: bolder;
        padding: 3vh 0 0 0;
      }
      .email {

      }
      .profile {
        height: 18vh;
      }
      .form-control {
        margin-bottom: 20px;
      }
    }
  }
}
