<div class="container-fluid">
  <footer class="row align-items-center">
    <div class="col text-center">
      Broccolli Services Limited<br>
      ©︎2019 Broccolli. All rights reserved.
    </div>
  </footer>
</div>
