<div class="container-fluid">
  <header class="row align-items-center justify-content-between">
    <div class="col-6 logo-area">
      <%#= link_to image_tag('logo.svg'), root_path, class: 'logo' %>
      <%= link_to 'Broccolli', root_path, class: 'title' %>
    </div>
<!--    <div class="col-1"><%#= link_to image_tag(current_user.icon, class: 'user-icon'), user_path(current_user) if user_signed_in? %></div>-->
    <div class="col-3">
      <div class="dropdown">
        <button class="btn fas fa-bars dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <% if user_signed_in? %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            <%= link_to 'マイページ', user_path(current_user), class: 'dropdown-item' %>
            <%= link_to 'メッセージ', rooms_path, class: 'dropdown-item' %>
            <%#= link_to 'お知らせ', '#', class: 'dropdown-item' %>
            <%= link_to 'フラワーシッターを探す', cards_path, class: 'dropdown-item' %>
            <%= link_to 'フラワーシッターになる', agreement_path, class: 'dropdown-item' %>
            <%= link_to 'よくある質問', '#', class: 'dropdown-item' %>
            <%= link_to 'ブロッコリーについて', about_path, class: 'dropdown-item' %>
            <%= link_to 'お問い合わせ', contact_path, class: 'dropdown-item' %>
        <% else %>
            <%= link_to '新規登録', new_user_registration_path, class: 'dropdown-item'  %>
            <%= link_to 'ログイン', new_user_session_path, class: 'dropdown-item'  %>
            <%#= link_to 'お知らせ', '#', class: 'dropdown-item' %>
            <%= link_to 'よくある質問', '#', class: 'dropdown-item' %>
            <%= link_to 'ブロッコリーについて', about_path, class: 'dropdown-item' %>
            <%= link_to 'お問い合わせ', contact_path, class: 'dropdown-item' %>
        <% end %>
        </div>
      </div>
    </div>
  </header>
</div>
