<% if user_signed_in? %>
  <div class="users_under-blank"></div>

  <div class="container fixed-area">
    <div class="row box align-items-center text-center">
      <div class="col item-box">
        <div class="items far fa-arrow-alt-circle-left">
          <%= link_to '', root_path, class: 'link' %>
<!--          <div class="badge">56</div>-->
        </div>
      </div>
      <div class="col item-box">
        <div class="items far fa-comment-alt">
          <%= link_to '', rooms_path, class: 'link' %>
          <% if current_user.unread_messages_count(current_user.id) >= 1 %>
            <div class="badge"><%= current_user.unread_messages_count(current_user.id) %></div>
          <% end %>
        </div>
      </div>
      <%= link_to image_tag(user.icon, class: 'under-icon'), user_path(user), class: 'col' %>
    </div>
  </div>
<% end %>
