<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="Description" content=<%= meta_description(yield(:description)) %>>
    <meta name="Keywords" content=<%= meta_keywords(yield(:keywords)) %>>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <%= analytics_init if Rails.env.production? %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert-area">
        <div class="alert alert-<%= message_type %> flash-box" id="flash-close">
          <%= message %><%= link_to '', flash_close_path, remote: true, class: 'fas fa-times flash-close' %>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
